*{
    margin: 0;
    padding: 0;
}
header,main{
    margin: 3.1rem 8.2rem 0 8.2rem; 
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
}
:root{
    --primary-color:#FF5400;
    --font:38px;
    --weight:800;
    --white:#fff;
}

.pri-font,.nav-item a,.destinition-description,.choose-des,.footer-description{
    color: #424247;
    font-size: 18px;
    font-weight: 400;
}
.pri-font2,.destinition-title,.choose-title,.travel-title{
    color: #131318;
    font-size: 38px;
    font-weight: 800;
}
.travel{
    color: var(--primary-color);
    font-size: var(--font);
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title-details{
    display: flex;
    align-items: center;
}
.logo{
    margin-right: 0.9rem;
}
.navbar ul li a,.navbar ul li{
    text-decoration: none;
    list-style: none;
    margin-left: 2.2rem;
}
#home{
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 400;
}
.menubar{
    display: none;
}
/* banner */

.banner{
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    border-radius: 16px;
    margin-top: 3rem;
    height: 31.2rem;
    width: 100%;
}
.banner-description{
    text-align: center;
    color: var(--white);
    padding: 6.6rem 18rem 3rem 18rem;
}
.banner-title{
    font-size:3rem;
    font-weight:var(--weight);
    margin-bottom: 1.5rem;
}
.description{
    color: var(--white);
    font-size: 16px;
    font-weight: 400;
}

.find-section{
    background: rgba(255, 255, 255, 0.30);
    border-radius: 8px;
    text-align: center;
    margin: 3rem 6rem 6.5rem 6rem;
    padding: 1rem;
    display: flex;
}
#when,#select{
    position: relative;
    left: 11rem;
    height: 20px;
    text-align: center;
}
.find-section input{
    padding: .5rem .5rem .5rem .5rem;
    border-radius: 8px;
    border: none;
}
#btn{
    width: 9rem ;
    background-color: var(--primary-color);
    color: var(--white);
    border-radius: 0;
}
#search{
    position: relative;
    left: 2rem;
    color: var(--white);
}

/* main part */

.tour{
    display: flex;
    margin-top: 6.25rem;
}
.tour-picture img{
    width: 33rem;
    height: 34rem;
    border-radius: 1rem;
}
.tour-details{
    margin-right: 7rem;
}
.tour-description,#list1,#list2,#list3,#lastlist {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
}
.tour-description, .tour-title{
    margin-bottom: 1.5rem;
}
.tour-title{
    color: #131318;
    font-size: 40px;
    font-weight: var(--weight);
}
#list1,#list2,#list3{
    margin-bottom: 1.5rem;
}
#Read-btn,.Read-btn{
    margin-top: 1.5rem;
    padding: 0.8rem 1rem 0.8rem 1rem;
    background-color: var(--primary-color);
    border: none;
    border-radius: 0.5rem;
    color: var(--white);
}

/* destinitation part */

.destinition{
    margin-top: 6.25rem;
}
.destinition-details,.destinition-title,.destinition-description,.choose-detail,.about{
    text-align: center;
}
.destinition-description,.choose-des{
    margin: 1.5rem 7rem 0 7rem;
}

.image-list1,.image-list2,.image-list3{
    display: grid;
}
.image-list1{
    grid-template-columns: repeat(2,1fr);
    margin-top: 3rem;
    gap: 1.5rem;
}
.image-list2{
    grid-template-columns: repeat(1,1fr) 1.7fr 0.8fr;
    margin: 1.5rem 0 1.5rem 0;
    gap: 1.5rem;
}
.image-list3{
    grid-template-columns: repeat(1,1.5fr) 2fr;
    margin-bottom: 6.25rem;
    gap: 1.5rem;
}
.destinition-image img{
    width: 100%;
    height: 100%;
}
/* travel service */
.travel-service{
    display: flex;
    margin: 3rem 0 1.5rem 0;
}
.hotel{
    margin-right: 1.5rem;
}
.hotel,.class-service,.best-price{
    padding: 2rem 3.4rem 2rem 2rem;
}
.hotel,.best-price{
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}
.best-price{
    margin-left: 16.5rem;
    width: 27.2rem;
    margin-bottom: 6.25rem;
}
.class-service{
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
.travel-service img,.best-price img{
    width: 4rem;
    height: 4rem;
}
.travel-title{
    font-size: 1.5rem;
}
/* deals and discount */

.deals-des{
    text-align: center;
}
.coxbazar,.Sajek,.Jaflong{
    background-image: url(../Images/Group\ 39.png);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 1rem;
    margin-top: 2rem;
    height: 31.25rem;
    width: 100%;
}
.cox-tour-detail,.Sajek-tour-detail,.jaflong-tour-detail{
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding: 3.2rem 5rem 3.2rem 3.2rem;
    position: relative;
    top: 4rem;
    margin: 0 3.5rem 3.5rem 25rem;
}
.Sajek{
    background-image: url(../Images/Group\ 40.png);
}
.Sajek-tour-detail{
    position: relative;
    top: 4rem;
    margin: 0 25rem 3.5rem 3.5rem;
}

.jaflong-tour-detail{
    position: relative;
    top: 2rem;
}
/* Perfect place */

.perfect-place{
    display: flex;
    margin-top: 6.25rem;
}
.place-details{
    margin-right: 1.6rem;
}
#see-more-btn{
    margin-top: 2rem;
}
.video video{
    width: 33rem;
    border-radius: 1rem;
}

/* about company */
.about-company{
    display: flex;
    background-color: cadetblue;
    border: 2px solid black;
    border-radius: 5px;
    margin: 4rem 0 4rem 0;
}
.travel-image{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.travel-image img{
    width: 100%;
    height: 100%;
}
.about{
    border: 2px solid white;  
    padding: 4rem;  
}


/* footer */

footer{
    text-align: center;
    background: rgba(19, 19, 24, 0.05);
    width: 100%;
    height: 100%;
}
.footer-design{
    margin: 0 20rem 0 20rem;
    padding: 7rem 0 7rem 0;
}
.footer-description{
    margin-top: 1rem;
}
.footer-icon img{
    width: 2rem;
    height: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
}
.footer-copyright{
    margin-top: 6.25rem;
}
.footer-des img h3{
    text-align: center;
}

/* responsive website */
@media screen and (max-width: 600px) {
    .header{
        margin: 25px;
    }
    .menubar{
        display: inline-block;
    }
    .navbar ul li a{
        display: none;
    }
    .banner-description{
        margin: 0;
        padding: 0;
    }
    .find-section {
        margin: 2rem 1.5rem 2rem 1.5rem;
        padding: 0;
        flex-direction: column;
    }
    .find-section input {
        margin-bottom: 1rem;
    }
    #when,select{
        display: none;
    }
    .main{
        margin: 25px;
        padding: 0;
    }
    .tour{
        margin: 0;
        padding: 0;
        flex-direction: column;
    }
    .tour-picture img{
        height: 100%;
        width: 100%;
    }
    #Read-btn{
        margin-bottom: 1.5rem;
    }
    .destinition-title{
        margin-bottom: 1.5rem;
    }
    .destinition-description{
        margin: 0;
    }
    .destinition-image img{
        margin-left: 3rem;
        width: 21rem;
        height: 11rem;
    }
    .image-list1,.image-list2,.image-list3{
        grid-template-columns: 1fr;
    }
    .travel-service{
        margin: 0;
        flex-direction: column;
    }

    .best-price{
        margin: 0;
    }
    .hotel,.class-service,.best-price{
        margin:1.5rem;
        width: 19rem;
        height: 17rem;
    }
    .footer-design{
        margin: 0;
        padding: 2.75rem;
    }
    .cox-tour-detail,.Sajek-tour-detail,.jaflong-tour-detail{
        position: relative;
        top: 0.8rem;
        bottom: 0.5rem;
        margin: 0 1rem 1rem 1rem;
    }
    .jaflong-tour-detail{
        position: relative;
        top: 2rem;
        bottom: 1rem;
        margin: 0 1rem 1rem 1rem;
    }
    .package{
        position: relative;
        right: 2.3rem;
    }
    .perfect-place{
        flex-direction: column;
    }
    .video video{
        width: 100%;
        margin-top: 3rem;
    }
}
