*{
    margin: 0;
    padding: 0;
}
header,main{
    margin: 3.1rem 8.2rem 0 8.2rem; 
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
}
:root{
    --primary-color:#FF5400;
    --font:38px;
    --weight:800;
    --white:#fff;
}

.pri-font,.nav-item a{
    color: #424247;
    font-size: 18px;
    font-weight: 400;
}
.pri-font2{
    color: #131318;
    font-size: 38px;
    font-weight: 800;
}
.travel{
    color: var(--primary-color);
    font-size: var(--font);
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title-details{
    display: flex;
    align-items: center;
}
.logo{
    margin-right: 0.9rem;
}
.navbar ul li a,.navbar ul li{
    text-decoration: none;
    list-style: none;
    margin-left: 2.2rem;
}
#home{
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 400;
}
.menubar{
    display: none;
}
/* banner */

.banner{
    background-image: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    border-radius: 16px;
    margin-top: 3rem;
    height: 31.2rem;
    width: 100%;
}
.banner-description{
    text-align: center;
    color: var(--white);
    padding: 6.6rem 18rem 3rem 18rem;
}
.banner-title{
    font-size:3rem;
    font-weight:var(--weight);
    margin-bottom: 1.5rem;
}
.description{
    color: var(--white);
    font-size: 16px;
    font-weight: 400;
}

.find-section{
    background: rgba(255, 255, 255, 0.30);
    border-radius: 8px;
    text-align: center;
    margin: 3rem 6rem 6.5rem 6rem;
    padding: 1rem;
    display: flex;
}
#when,#select{
    position: relative;
    left: 11rem;
    height: 20px;
    text-align: center;
}
.find-section input{
    padding: .5rem .5rem .5rem .5rem;
    border-radius: 8px;
    border: none;
}
#btn{
    width: 9rem ;
    background-color: var(--primary-color);
    color: var(--white);
    border-radius: 0;
}
#search{
    position: relative;
    left: 2rem;
    color: var(--white);
}

/* main part */

.tour{
    display: flex;
    margin-top: 6.25rem;
}
.tour-picture img{
    width: 33rem;
    height: 34rem;
    border-radius: 1rem;
}
.tour-details{
    margin-right: 7rem;
}
.tour-description,#list1,#list2,#list3,#lastlist {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
}
.tour-description, .tour-title{
    margin-bottom: 1.5rem;
}
.tour-title{
    color: #131318;
    font-size: 40px;
    font-weight: var(--weight);
}
#list1,#list2,#list3{
    margin-bottom: 1.5rem;
}
#Read-btn{
    margin-top: 1.5rem;
    padding: 0.8rem 1rem 0.8rem 1rem;
    background-color: var(--primary-color);
    border: none;
    border-radius: 0.5rem;
    color: var(--white);
}
/* responsive website */
@media screen and (max-width: 600px) {
    .header{
        margin: 25px;
    }
    .menubar{
        display: inline-block;
    }
    .navbar ul li a{
        display: none;
    }
    .banner-description{
        margin: 0;
        padding: 0;
    }
    .find-section {
        margin: 2rem 1.5rem 2rem 1.5rem;
        padding: 0;
        flex-direction: column;
    }
    .find-section input {
        margin-bottom: 1rem;
    }
    #when,select{
        display: none;
    }
    .main{
        margin: 25px;
        padding: 0;
    }
    .tour{
        margin: 0;
        padding: 0;
        flex-direction: column;
    }
    .tour-picture img{
        height: 100%;
        width: 100%;
    }
    #Read-btn{
        margin-bottom: 1.5rem;
    }
    
}
